@layer utilities {
    @variants dark {
		.bg-dark {
			background-color: $bg-dark;
		}
		.bg-dark-card {
			background-color: $bg-dark-card;
		}
		.bg-dark-topbar {
			background-color: $bg-dark-topbar !important;
		}
		.bg-dark-header {
			// background-color: mix($bg-dark-topbar, map-get($colors,'primary'), 93%) !important;
			background-color: #222b42  !important;
		}
    }


    // Responsive
    .row {
		margin-left: -1rem;
		margin-right: -1rem;
		flex-wrap: wrap;
    }
    .col { padding: 0 1rem; }
     
    // Opacity
    .opacity-1\/2 { opacity: .5; }
    .opacity-4\/5 { opacity: .8; }


    // Font size
    .text-xxs { font-size: .7rem }
    
	//  Colours
	@each $color, $value in $colors {
		@variants hover,active,disabled {
			.bg-#{$color}  { background-color: $value }
			.bg-darken-#{$color}  { background-color: darken($value,10%) }
			.bg-lighten-#{$color}  { background-color: lighten($value,10%) }

			.text-#{$color}  { color: $value }
			.text-darken-#{$color}  { color: darken($value,10%) }

			.border-#{$color}  { border-color: $value }
			.border-darken-#{$color}  { border-color: darken($value,10%) }
		}
		@variants disabled {
			.cursor-not-allowed { cursor: not-allowed }
		}
	}
    
}