
$container-padding-x:       1rem;
$container-padding-y:       0;
$container-fluid-padding-x: 2rem;

$font-family-base   :       "Exo 2";
$font-size-base     :       1rem;       
$font-color-base    :       rgba(107, 114, 128, 1);
$font-color-base-dark:      rgb(160, 174, 192);
$header-color       :       rgb(55, 65, 81);
$header-dark-color  :       rgb(156, 163, 175);

$topbar-height      :       70px;

$sidebar-minimized-width:   70px;
$sidebar-maximized-width:   270px;
$sidebar-transition :       all .5s cubic-bezier(0.87, 0, 0.13, 1);
$sidebar-link-active-bg:  #eaeeff;

$primary    : rgba(99, 102, 241,1);
$warning    : rgba(245, 158, 11,1);
$secondary     : mix(rgb(107, 114, 128), rgb(99, 102, 241), 80%);
$danger     :rgba(239, 68, 68,1);
$success    : rgba(16, 185, 129,1);
$dark       : rgba(55, 65, 81,1);
$info       :   rgba(147, 197, 253,1);

// Colors
$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "warning": $warning,
    "danger": $danger,
    "success": $success,
    "dark": $dark,
    "info": $info   ,
);

$bg-dark: #1a233a;
$bg-dark-card: #272e48;
$bg-dark-topbar: #283147;

// Table
$table-sm-padding: .2rem;
$table-md-padding: .5rem .4rem;
$table-lg-padding: .7rem .5rem;

// Input
$input-sm-padding-x: 0.4rem;
$input-sm-padding-y: 0.25rem;
$input-md-padding-x: 0.75rem;
$input-md-padding-y: 0.5rem;
$input-lg-padding-x: 1rem;
$input-lg-padding-y: 0.75rem;

$input-dark-color: #828D99;
$input-dark-border: 1px solid  #464D5C;
$input-dark-bg: #1A233A;

$checkbox-active: #275EFE;
$checkbox-active-inner: #fff;
$checkbox-focus: 2px rgba(39, 94, 254, .3);
$checkbox-border: #BBC1E1;
$checkbox-border-hover: #275EFE;
$checkbox-background: #fff;
$checkbox-disabled: #F6F8FF;
$checkbox-disabled-inner: #E1E6F9;

$checkbox-dark-bg: $input-dark-bg;
$checkbox-dark-border: $input-dark-border;

$modal-dark-bg: $bg-dark-topbar;