
$container-padding-x:       1rem;
$container-padding-y:       0;

$font-family-base   :       "Quicksand";
$font-size-base     :       1rem;       
$font-color-base    :       rgba(107, 114, 128, 1);
$header-color       :       #273147;

$topbar-height      :       70px;

$sidebar-minimized-width:   70px;
$sidebar-maximized-width:   270px;
$sidebar-transition :       all .5s cubic-bezier(0.87, 0, 0.13, 1);
$sidebar-link-active-bg:  #eaeeff;