.nx-progress {
    width: 100%;
    background-color: #eeeeee;
    border-radius: 20px;
}

.nx-progress-bar {
    width: 0%;
    height: 20px;
    background-color: #448aff;
    border-radius: 20px;
}